body {
  background-color: hsl(0, 0%, 8%);
  max-width: 1440px;
  min-width: 320px;
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  font-family: "Inter", sans-serif;
}

h1,
p {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
section {
  box-sizing: content-box;
  border-radius: 7px;
  width: 250px;
  height: 380px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: hsl(0, 0%, 12%);
}

#avatar {
  border-radius: 100%;
  width: 80px;
  margin-left: 35%;
  padding-bottom: 5px;
}
div {
  text-align: center;
}

.text-green {
  color: hsl(75, 94%, 57%);
  font-size: 11px;
  text-align: center;
  margin-bottom: 15px;
}

input {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  font-size: 11px;
  color: hsl(0, 0%, 100%);
  border-style: none;
  border-radius: 5px;
  width: 220px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

input:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
